{% extends 'movies/base.html' %}

{% block head %}
    <title>Deleted Movies</title>
{% endblock %}

{% block body %}
    <h1>Deleted Movies :(</h1>
    {% if data|length == 0 %}
    <h3>OMG! You like every movie which you have seen.</h3>
    {% else %}
    <h3>If you think removing them was a mistake, just click on the name and they will be saved.</h3>
    {% for m in data %}
        <li><a href="deleted/{{m.id}}">{{m.title}}</a></li>
    {% endfor %}
    <a href="/movies/deleted/permanent"><button>Permanently delete movies</button></a>
    {% endif %}
    <a href="/movies"><button>Head back to see your favourite set of movies</button></a>
{% endblock %}