{% extends 'movies/base.html' %}

{% block head %}
    <title>Details related to {{movie.title}}</title>
{% endblock %}

{%block body  %}
    <h3>Following sections contains basic details related to your favourite movie</h3>
    <!--{{movie}}-->
    <ul>
        <li>Title: <b>{{movie.title}}</b></li>
        <li>Release Date: <b>{{movie.release_date}}</b></li>
        <li>Short Overview: <b>{{movie.overview}}</b></li>
        <li>Original Title: <b>{{movie.original_title}}</b></li>
        <li>Original Language: <b>{{movie.original_language}}</b></li>
        <li>Average Rating: <b>{{movie.vote_average}}</b></li>
    </ul>
{% endblock %}